@import "common";
.headCon,.registerCon,.footMessageCon,.footerBottomCon{
    margin:0 auto;
    width:1212px;
}

//头部
.headCon{
    width:1212px;
    height:98px;
    .headerLeft{
        height:98px;
        float:left;
        text-align:center;
        >img{
            height:100%;
            float:left;
        }
        #liner{
            height:44px;
            width:0;
            border:2px solid #ccc;
            line-height:98px;
            float:left;
            margin:27px;
        }
        >span{
            line-height: 98px;
            font-size:22px;
            color:#97948b;
            float:left;
        }
    }
    .headerRight{
        float:right;    
        p{
            height:20px;
            padding:29px 0;
           text-align: center;
            >img{
                width:19px;
                height:19px;
                display: inline;
                line-height:20px;
                margin-right:20px;
                float:left;
            }
            >span{
                line-height:20px;
                font-size:12px;
                color:#6a6e6f;
                float:left;
            }
        }
    }
}


//主体部分
#registerBody{
    width:100%;
    min-height:594px;
    background:#262626;
    .registerCon{
        height:594px;
        position:relative;
        >img{
            height:100%;
        }
        .register{
            position:absolute;
            top:30px;right:40px;
            width:340px;
            height:442px;
            background:#fff;
            padding:36px 30px 0;
            h2{
                font-size:18px;
                line-height:18px;
                color:#000200;
                margin-bottom:20px;
                 text-align:center;
            }
            input{
                width:320px;
                height:48px;
                border:1px solid #ccc;
                margin-top:16px;
                padding-left:18px;
            }
            >p{
                height:50px;
                line-height:50px;
                margin-top:16px;
                >input{
                    width:162px;
                    display:inline;
                    margin-top:0;
        
                }
                >button{
                    width:132px;
                    height:50px;
                    background:#f2f2f2;
                    font-size: 12px;
                    line-height: 50px;
                    text-align:center;
                    color:000200;
                    margin-left:26px;
                    border:0;
                }
            }
            >span{
                font-size:14px;
                color:red;
                line-height:14px;
                padding:10px 0;
                display:none;
                width:340px;
                i{
                    font-size:14px!important;
                }
            }
            >span:nth-of-type(1){
                color:#CDCDCD;
            }
            >button:nth-of-type(1){
                width:340px;
                height:50px;
                line-height:50px;
                font-size: 12px;
                color: #f8fffc;
                background:#333;
                text-align:center;
                border:0;
                margin-top:24px;
           }
            >p{
                font-size:12px;
                margin-top:20px;
                line-height:12px;
                color:#9b9595;
               
                >a{
                    display:inline;
                }
                >a:nth-of-type(1){
                    color:#2c3429;
                }
                >a:nth-of-type(2){
                    color:#ff9b02;
                    margin-left:24px;
                }
            }
        }    
    }
}



#line{
    width:100%;
    height:0;
     border:1px solid #c8c8c8;
}
//底部信息
#footMessage{
    height:600px;
    width:100%;
    background:url(../image/footer_message_bg.jpg) no-repeat;
    .footMessageCon{
        .advantage{
           width:100%;
           height:64px;
           padding:26px 0;
           border-bottom:1px solid #c8c8c8;
          li{
              float:left;
              width:204px;
              height:64px;
              margin:0 28px 0 10px;
              >a>img{
                  height:100%;
                  float:left;
              }
              p{
                  padding:8px 0;
                  float:left;
                  font-size:12px;
                  line-height:24px;
                  margin-left:4px;
                  color:#000b00;
                  span{
                      font-weight:900;
                  }
                  >a{
                      color:#3c323b;
                  }:hover{
                      text-decoration: underline;
                  }  
              }
          }
        }
        .footerNav{
            width:100%;
            height:283px;
            .footerNavLeft{
                float:left;
                width:936px;
                font-size:12px;
                margin-left:20px;
                li{
                    float:left;
                    width:186px;
                    color:#2c382c;
                    h5{
                        font-weight:900; 
                        line-height:12px;  
                        padding:27px 0;
                    }
                    >a{
                        color:#2c382c; 
                        line-height:24px;
                    }:hover{
                      text-decoration: underline;
                     }  
                }
            }
            .footerNavRight{
                float:left;
                width:256px;
                height:100%;
                >div{
                    float:left;
                    width:79px;
                    padding-top:26px;
                    >span{
                       font-weight:900; 
                        line-height:12px;
                        color:#2c382c; 
                        font-size: 12px; 
                        padding:26px 0;
                    }
                    >img{
                       padding-top:26px;
                        width:100%;
                    }
                }
                >div:nth-child(1){
                    margin-right:60px;
                }
            }
        }
        
        //底部底部
        .footerCon{
            width:100%;
            color:#fffdf6; 
            font-size: 12px;
            line-height:12px;
            ul{
                >li{
                    float:left;
                    padding:0 8px;
                    border-right:1px solid #fffdf6;
                    >a{
                        color:#fffdf6; 
                    }:hover{
                        text-decoration: underline;
                    }
                }
                >li:last-child{
                    border-right:0;
                }
            }
            .footerTop{
                padding:27px 407px 33px;
            }
            .footerMiddle{
                padding:0 219px;
            }  
            >p{
                margin-top:12px;
                padding:12px 204px 30px;
             }  
            >div{
                height:40px;
                margin-left:440px;
                >img{
                    cursor: pointer;
                    height:100%;
                    float:left;
                    margin-right:4px;
                    
                }
            }    
        }
        
    }
}

//最底部
#last{
    width:100%;
    height:12px;
    background:#fff;
    position:relative;
    >img{
        height:100%;
        posotion:absolute;
        left:0;
    }
    
}

//底部悬浮
#footerBottom{
    width:100%;
    background:#4c4c4c;
    height:120px;
    position:fixed;bottom:0;
    .footerBottomCon{
        img{
            width:100%;
        }
        p{
            position:absolute;
            top:8px;
            right:54px;
            width:25px;
            height:25px;
            cursor:pointer;
        }
    }
}